* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 900px;
  height: 500px;
  margin: 125px auto;
  border: 3px solid lightgrey;
}

.addrlabel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.App {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stamp {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
}
